$headerBackground: white;
$headerTextColor: black;
$sidePadding: 100px;
$verticalPadding: 24px;
$linkGap: 24px;
$burgerLineGap: 4px;
$gap-link-burger: 60px;

.header {
  background-color: $headerBackground;
  display: flex;
  padding: $verticalPadding $sidePadding;
  justify-content: space-between;
  align-items: center;
  color: $headerTextColor;
  max-width: 1440px;

  @media (max-width: 768px) {
    padding: 30px;
  }
}

.nav-container {
  display: flex;
  background-color: $headerBackground;

  @media (max-width: 768px) {
    position: fixed;
    flex-direction: column;
    top: 80px;
    align-items: center;
    width: 100%;
    height: 90%;
    right: -100%;
    opacity: 1;
    transform: translate(100%);
    transition: all 2s;
    z-index: 2;

    &.active {
      transform: translate(-100%);
      transition: all 1s;
    }
  }
}

.nav-element {
  display: flex;
  gap: $linkGap;
  font-family: Satoshi;
  font-size: 16px;

  @media (max-width: 768px) {
    padding-top: 20px;
    flex-direction: column;
    height: 100%;
    align-items: center;
    font-size: 32px;
    gap: $gap-link-burger;
  }
}

.navigate-link {
  text-decoration: none;
  color: $headerTextColor;
}

.logout-button {
  display: none;
}

.show-logout {
  display: block;
}

.name-container {
  display: flex;
  align-items: center;
  gap: $linkGap;
}

.shop-name {
  font-family: Integral CF;
  font-size: 32px;

  @media (max-width: 768px) {
    font-size: 26px;
  }
}

.burger {
  display: none;
  flex-direction: column;
  gap: $burgerLineGap;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

.burger__line {
  width: 24px;
  background-color: $headerTextColor;
  height: 2px;
  border-radius: 50px;
  transition: 0.5s;
}

.burger-active .burger__line:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.burger-active .burger__line:nth-child(2) {
  display: none;
}

.burger-active .burger__line:nth-child(3) {
  transform: translateY(-2px) rotate(-45deg);
}

.active {
  display: flex;
}

.no-scroll {
  overflow-y: hidden;
}
