$lightBlack: rgba(12, 12, 14, 0.6);

.aboutUs {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
  .aboutUsTitle {
    font-family: Integral CF;
    padding: 0px 100px;
  }
}
.aboutUsAbout {
  background: linear-gradient($lightBlack, $lightBlack), url(../../../assets/imgs/bgImageAboutUs.jpg);
  background-repeat: no-repeat;
  background-position: 100% 27%;
  background-size: cover;
  height: 320px;
  display: flex;
  align-items: center;
  // justify-content: center;
  padding: 50px 100px;
  .aboutUsAboutContainer {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
  }
  .aboutUsAboutTitle {
    color: rgb(201, 226, 205);
    font-family: Integral CF;
  }
  .aboutUsAboutText {
    font-family: Satoshi;
    color: white;
  }
}
.aboutUsTeam {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  // flex-direction: column;
  // padding: 0px 100px;
  margin-left: 100px;
  margin-right: 20px;
  gap: 40px;
  .aboutUsTeamCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    font-family: Satoshi;
    overflow: hidden;
    background-color: rgba(58, 91, 34, 0.6);
    transition: background-color 0.3s;
    padding: 10px 10px 20px 10px;
    border-radius: 8px;
    width: 350px;
    .aboutUsTeamCardImg {
      object-fit: cover;
      width: 350px;
      height: 475px
    }
    .aboutUsTeamCardName {
    }
    .aboutUsTeamCardRole {
      color: #d9d9d9;
      transition: color 0.3s;
    }
    .aboutUsTeamCardDescription {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      transform:  translateY(100%);
      transition: transform 0.3s;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      padding: 100px 50px;
      border-radius: 8px;
      box-sizing: border-box;
    }
    &:hover {
      background-color: black;
      .aboutUsTeamCardDescription {
        transform: translateY(0)
      }
      .aboutUsTeamCardRole {
        color: black;
      }
    }
  }
}
