.removeModal {
  width: 100%;
  max-width: 450px;

  @media (max-width: 767px) {
    max-width: 400px;
  }

  @media (max-width: 600px) {
    max-width: 360px;
  }
}

.removeModal_buttons_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.removeModal_ok_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: Integral CF;
  font-size: 24px;
  background-color: black;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  width: 100%;
  border-radius: 20px;
}

.removeModal_content_container {
  font-family: Satoshi;
  font-weight: 600;
  font-size: 20px;
  color: black;
}
