.basket {
  padding: 24px 100px;
  .basketTitle {
    font-family: Integral CF;
    margin-bottom: 24px;
  }
  .basketContainer {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px 24px;
    width: 715px;
    height: 508px;
  }
}